# Ignore Vundle plugins (this will be managed by Vundle itself instead of git)
vim/bundle
vim/backups

# Ignore tmux plugins (this will be managed by tmux-plugin itself)
tmux/plugins

# Ignore tmux logs
tmux-client-*
tmux-server-*

# Ignore my SSH keys ;)
ssh/

# Dotbot
dotbot/
